<!doctype html>
<html>

<head>
  <title>form</title>
  <meta charset="UTF-8">
  <script src="https://grezl.eu/jquery-3.1.1.min.js"></script>

<script>
//version wiot.cz 0.1
//var elements = {min:"int", max:"int", state:"bool"};
//var values = {min:"15", max:"16", state:"1"};

//////////
[ARRAY]
//////////

function type_text(k, v)
{
  var str = "<input type='text' name='" + k +"' value='" + v + "' id='" + k + "'>";
  return str;
}

function on_off(name, on)
{
  var out = "";
  var checked_on = "";
  var checked_off = "";

  if (on == "on") {
    checked_on = "checked";
  } else {
    checked_off = "checked";
  }

  out += "<input type='radio' id='on' name='" + name + "' value='on' "+ checked_on +">";
  out += "<label for='ON'>on</label><br>";
  out += "<input type='radio' id='off' name='" + name + "' value='off' "+ checked_off +">";
  out += "<label for='OFF'>off</label><br>";

  return out;
}

function create_form()
{
  var out = "<!-- debug -->"
  for (var key in elements) {
    out += "<label>" 
    out += "type: " + elements[key];
    out += " " + key + ":" + values[key]
    out += "</label><br>";
    var v = values[key];

    switch (elements[key]) {
      case "int":
        out += type_text(key,v);
        break;
      case "bool":
        out += on_off(key, v);

        if (v == "on") {
          m = 100;
        } else {
          m = 0;
        }

        out += "<meter value='" + m + "'>" + m + "</meter>";
        break;
      default:
        out +="shit";
        break;
    }

    out +="<hr><br>\n";
  }

  return out;
}


function send_form()
{
  var data = $('form').serialize();
  var url = $('form').attr('action');
  var jqxhr = $.post(url, data, function(response) {
  })
  .done(function(res) {
    $('#result').text('done ' + res);
  })
  .fail(function(jqxhr, status, error) {
    $('#result').text('error ' + status + " " + error);
  })
  .always(function() {
  });
}

</script>

</head>

<body>
<h1>[SN]</h1>

<form action="/wiot/v1/data/[SN]" method="post" id="form">
  <script>
    document.write(create_form());
  </script>
</form>

<button onclick="send_form();">send</button>

<div id="result">
<p>result</p>
</div>

</body>

</html>
